*.la
*.lo
*~
/*.o
/.deps/
/.libs/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/dummy-module/.deps/
/dummy-module/.libs/
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/take-vector-screenshot
Makefile
Makefile.in
