[Desktop Entry]
Name=Take Vector Screenshot
Comment=Save vector images of application windows
Exec=take-vector-screenshot
Terminal=false
Type=Application
Icon=camera
# StartupNotify=true
Categories=GTK;GNOME;Utility;
NotShowIn=KDE;
